.promo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo h1 {
  text-align: center;
  width: 100%;
}

.promo .promoItem {
  width: 32%;
  margin: 20px 0;
  border: 1px solid lightgrey;
}

.promo .promoItem .itemImage {
  height: 300px;
}

.promo .promoItem .itemImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.promo .promoItem .itemTitle {
  text-align: center;
  margin: 20px 0 10px 0;
}

.promo .promoItem .itemTitle span {
  font-size: 26px;
}

.promo .promoItem .itemDescription {
  text-align: center;
  margin: 15px 0;
  height: 300px;
  font-family: 'Montserrat', sans-serif;
  padding: 0 5px 5px 5px;
}
