.subscribe {
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 50px;
  padding: 1px 0 20px 0;
}

.subscribe h1 {
  width: 100%;
  text-align: center;
}

.subscribe .subscribeForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.subscribe .subscribeForm label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-size: 18px;
}

.subscribe .subscribeForm input {
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  height: 30px;
  font-size: 18px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.subscribe .subscribeForm .formNumber {
  width: 200px;
  margin-bottom: 10px;
}

.subscribe .subscribeForm .formEmail {
  width: 200px;
}

.subscribe .subscribeForm .formComment {
  width: 420px;
}

.subscribe .subscribeForm .formComment textarea {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  box-sizing: border-box;
  margin-top: -1px;
  height: 100px;
}

.subscribe .subscribeForm button {
  width: 175px;
  height: 35px;
  font-size: 20px;
  border: 1px solid black;
  font-family: 'Caveat', cursive;
  background: white;
}

.subscribe .subscribeForm button:hover {
  border: 1px solid red;
  color: red;
}
