.header {
  background-color: #000000;
}

.header .headerWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header .headerWrap nav {
  width: calc(50% - 125px);
}

.header .headerWrap nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .headerWrap nav ul li a {
  font-size: 35px;
  color: #fff;
}

.header .headerWrap nav ul li a:hover {
  color: red;
}

.header .headerBottom {
  width: 100%;
  border-top: 1px solid #fff;
  height: 40px;
  display: flex;
  align-items: center;
}

.header .headerBottom .bottomMain {
  display: flex;
  justify-content: space-between;
}

.header .headerBottom .bottomMain .headerContacts {
  display: flex;
  width: calc(100% - 40px);
  justify-content: space-around;
  align-items: center;
}

.header .headerBottom .bottomMain .headerContacts a {
  color: #fff;
}

.header .headerBottom .bottomMain .headerContacts a span {
  font-size: 18px;
}

.header .headerBottom .bottomMain .headerContacts a:hover {
  color: red;
}
