.programs h1 {
  text-align: center;
}

.programs .programsMain {
  display: flex;
  flex-wrap: wrap;
}

.programs .programsMain .programsItem {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.programs .programsMain .programsItem .itemImage {
  width: calc(50% - 10px);
}

.programs .programsMain .programsItem .itemImage img {
  width: 100%;
  object-fit: contain;
  max-height: 400px;
}

.programs .programsMain .programsItem .itemInfo {
  width: calc(50% - 10px);
}

.programs .programsMain .programsItem .itemInfo .infoTitle {
  margin-bottom: 15px;
}

.programs .programsMain .programsItem .itemInfo .infoDesc {
  font-size: 18px;
}

.programs .programsMain .programsItem .itemInfo .infoPrice {
  margin-top: 20px;
  font-size: 27px;
}

.programs .programsMain .programsItem:nth-child(2n) {
  flex-direction: row-reverse;
}
